body {
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#post {
    max-width: 480px;
    transition: all, 0.4s;
}

#profiler {
    width: fit-content;
    transition: all, 0.4s;
    height: 100%;
}

hr {
    border: 0.00000001px solid #1c293600;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all, .2s;
    scroll-behavior: smooth;
}

input:hover {
    transition: all, 0.2s;
}

input:active {
    background-color: #3077bd;
}

button {
    border-radius: 6px;
    border: none;
    outline: none;
}

.br-6 {
    border-radius: 6px;
}

button:hover {
    transition: all, 0.2s;
}

input {
    height: 30px;
    width: max-content;
    border-radius: 6px;
    transition: all, 0.2s;
    border: none;
    outline: none;
    box-shadow: 0px 0px 1px #787a81;
}

input[id=postBtn] {
    height: 100%;
    border-radius: 6px;
    transition: all, 0.2s;
}

input[type=text] {
    transition: all, 0.2s;
    box-shadow: -1px 1px 2px #58595f;
}

input[type=button],
button {
    box-shadow: -1px 1px 2px #3e3f43;
}

input[value=✈] {
    background-color: #1163b4;
    transition: all, 0.2s;
}

.file {
    display: block;
}

input[value=✈]:hover {
    background-color: #0f4780;
}

textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    transition: all, 0.2s;
}

#postBtn {
    transition: all, 0.2s;
}


br input[class=postB] {
    background-color: rgba(205, 219, 238, 0);
    border: 0.2px groove rgb(0, 18, 39);
    height: inherit;
    height: 0.001px;
    transition: all, 0.2s;
}

.logOut {
    display: inline;
    background-color: #14518385;
}

.proPic {
    max-width: 40px;
    border-radius: 50%;
    transition: all, 0.3s;
}

.proName {
    position: relative;
    bottom: 30px;
    left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.proMail {
    position: relative;
    left: 50px;
    bottom: 30px;
    font-size: 6pxx;
}

#proFile {
    transition: all, 0.1s;
}

.postB {
    width: 80px;
    height: 35px;
    background-color: #1467bb;
}

.postSection {
    height: fit-content;
    border-radius: 6px;
    margin-top: 20px;
    max-width: 485px;
    transition: all, 0.2s;
    box-shadow: 0px 0px 3px #7c7d82;
    backdrop-filter: blur(20px);
}

.post {
    padding: 10px;
    margin-block: 0px;
    word-wrap: break-word;
}

.coMMent {
    display: block;
    padding: 10px;
    margin-top: 1px;
    background-color: #7894b938;
    margin: 10px 0px;
    border-radius: 6px;
    transition: all, 0.2s;
}

.comMent {
    display: block;
    position: relative;
    right: 10px;
    padding: 10px;
    margin-top: 1px;
    background-color: #7894b938;
    margin: 10px 0px;
    border-radius: 6px;
    transition: all, 0.2s;
}

.commentSection {
    margin-left: 10px;
    transition: all, 0.2s;
}

input[class=commentIn] {
    background-color: #0478ed;
}

input[class=commentIn]:hover {
    background-color: #0f78e1;
}

#like {
    display: stack;
    border-radius: 6px;
    max-height: 33px;
    min-width: 70px;
    margin: 5px 5px 5px auto;
    transition: all, 0.2s;
    text-align: left;
}

.like {
    border-radius: 6px;
    display: stack;
    max-height: 33px;
    min-width: 70px;
    margin: auto 5px auto auto;
    transition: all, 0.2s;
    text-align: left;
}

.coIn,
#commentIn {
    background-color: buttonface;
    color: inherit;
}

.commentInput,
#commentInput {
    display: flex;
}

.commentBox,
#commentBox{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.commentInput input,
#commentInput input {
    margin:5px  auto;
}

.helpBlock {
    font-size: smaller;
}

.top {
    border-top: 2px groove #4682b4;
    height: 20px;
    position: fixed;
    right: 1%;
    bottom: 1%;
    background: #14518300;
    border-radius: 0px;
    transition: all, 2s;
    opacity: 0;
}

#signUp,
#signIn {
    background-color: initial;
}

#modal {
    position: fixed;
    left: 200px;
    right: 200px;
    top: 200px;
    bottom: 200px;
    display: none;
}

#modalContent {
    background-color: #222e42a6;
    margin: auto;
    border-radius: 5%;
    width: 220px;
}

nav .btn {
    margin: 3px;
}

@media (max-width:500px) {
    body {
        width: auto;
    }
    
.commentInput,
#commentInput {
    display: block;
}
}